CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_ID=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ACCOUNT_ID=

SESSION_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

NEON_API_KEY=

DATABASE_URL=

OPENAI_API_KEY=